@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: rgb(251, 222, 33);
    font-weight: 600;
    background-image: url('./image/bground.jpg');
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font: 4rem;
    text-align: center;
    margin-top: -3rem;
}
.countdown-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#end-countdown {
    display: flex;
    font-size: 6rem;
}

.big-text {
    font-size: 7rem;
    margin: 2rem;
    margin-bottom: -3rem;
}

.countdown-desc {
    text-align: center;

}

.countdown-desc span{
  font-size: 2rem;
  margin-right: 2rem;
 
}